<div class="container-fluid">

      <!-- NAVIGATION -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="nav-menu-container">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="/">MEASURE</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto nav-menu">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger menu-active" href="/sign-in">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
  
      <!-- MAIN -->
          <header class="masthead">
              <div class="container h-100 d-inline">
                <div class="row h-100">
                  <div class="col-md-8 my-auto">
                      <img src="../images/greenery.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-4 my-auto">
                      <h2 class="mb-5 intro">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, adipisicing eli </h2>
                      <!-- <a href="#survey" class="btn btn-outline btn-xl js-scroll-trigger">Get Started</a> -->
                      <div class="row">
                        <div class="col-md-4 my-auto">
                            <div class="hero-container">          
                                <a href="/survey" class="btn btn-get-started btn-outline-secondary btn-lg" style="width: 350px;">Get Started</a>
                            </div>
                        </div>
                      </div>
                      <!-- <section id="hero">
                          <div class="hero-container">          
                              <a href="#survey" class="btn btn-get-started btn-outline btn-xl js-scroll-trigger">Get Started</a>
                          </div>
                      </section> -->
                    </div>
                  </div>
                  <br><br>
                  <!-- <div class="row">
                    <div class="col-lg-5 my-auto">
                        <section id="hero">
                            <div class="hero-container">          
                                <a href="#survey" class="btn-get-started">Get Started</a>
                            </div>
                        </section>

                  </div>
                </div> -->
              </div>
            </header>
  </div>
<br><br>
  {{!-- <footer class="footer mt-auto py-3">
      <div class="container">
        <span class="copyright text-muted"> &copy; Copyright 2019</span>
      </div>
    </footer> --}}
   <footer class="fixed-bottom">
        <nav class="navbar fixed-bottom navbar-light bg-faded">
            <a class="navbar-brand fixed-bottom text-center">Copyright &copy;</a>
        </nav>
    </footer>
  