
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="nav-menu-container">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="/">MEASURE</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto nav-menu">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger menu-active" href="/sign-in">Sign In</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

<div class="container survey">
    <div class="row">
        <div class="col-md-12">
            <div class="inline-modal-errors new-error">
                <p class="paragraph">Please take a few moments to answer the below questions so that we can match you up with a mentor that could best assist you.</p>
            </div>
        </div>
        <div class="col-md-12">
           <div class="grid">
        <div id="quiz">
            <h1 class="text-center" style="margin-top: 30px;"><em>Connect with a mentor today!</em></h1>
            <hr style="margin-bottom: 20px">
 
            <p id="question"></p>
 
            <div class="buttons">
                <ul id="btn0" class="butn btn-warning" style="padding: 20px; width: auto;"><li id="choice0"></li></ul>
                <ul id="btn1"  class="butn btn-info" style="padding: 20px; width: auto;"><li id="choice1"></li></ul>
                <ul id="btn2"  class="butn btn-secondary" style="padding: 20px; width: auto;"><li id="choice2"></li></ul>
                <ul id="btn3"  class="butn  btn-danger" style="padding: 20px; width: auto;"><li id="choice3"></li></ul>
            </div>
 
            <hr style="margin-top: 50px">
            <footer>
                <p id="progress">Question x of y</p>
            </footer>
        </div>
    </div>
        </div>
    </div>
</div>

<script src="https://www.gstatic.com/firebasejs/6.3.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/6.3.1/firebase-database.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDiM-Du3hDD6b1DexyrakGN6Uk_EAVeD5s",
    authDomain: "measure-250f1.firebaseapp.com",
    databaseURL: "https://measure-250f1.firebaseio.com",
    projectId: "measure-250f1",
    storageBucket: "measure-250f1.appspot.com",
    messagingSenderId: "838253711893",
    appId: "1:838253711893:web:c2a06e5e2020c4b4"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  
  var database = firebase.database();
</script>