 <div id="create-survey" class='col-6 mt-5'>
        <form id="create-survey-form">
          <h2>Create Survey</h2>
          <h5 id="create-survey-message"></h5>
          <p>
          <input type="text" name="survey[title]" placeholder="Survey Question" class="form-control">
          <input type="text" name="survey[option1]" class="form-control mt-2" placeholder="Answer option 1" required>
          <input type="text" name="survey[option2]" class="form-control mt-2" placeholder="Answer option 2" required>
          <input type="text" name="survey[option3]" class="form-control mt-2" placeholder="Answer option 3">
          <input type="text" name="survey[option4]" class="form-control mt-2" placeholder="Answer option 4">
          <input type="text" name="survey[option5]" class="form-control mt-2" placeholder="Answer option 5">
          </p>
          <button type="button" id="back-button" class="btn btn-secondary">Back</button>
          <button type="submit" id="create-new-survey-button" class="btn btn-info submit">Create</button>
        </form>
      </div>
      <div id="show-surveys-area"></div>
  </section>
</div>
